
::selection {
	background-color: #B0E3FC;
	color: #A7BBC4;
}
h1 {
	text-align: center;
	margin-top: 75px;
	margin-bottom: 75px;
	color: black;
}
			
.competitions {
	background-color: white;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 50px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;					
}

.competitions .title {
	text-align: center;
}

.competitions .photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

@font-face {
	src: url("../fonts/BMJUA_ttf.ttf");
	font-family: "Jua";
}

.pKorean {
	font-family: "Jua";
	text-align: center;
}

a {
	text-decoration: none;
	font-family:'Josefin Sans', sans-serif;
	color: #58595B;
}

a:visited {
	color: #AB6DD3;
	text-decoration: none;
	font-family:'Josefin Sans', sans-serif;
}

.back {
	background-color: #F5F5F5;

}